/* CSS variables for Waybar
 * You can add it to wallust.toml with:

waybar = { src = "waybar.css", dst = "~/.config/waybar/colors.css" }

 * And then in you waybar 'style.css' file, import it with:

@import url("colors.css");
 */

@define-color cursor #969F93;
@define-color background #0E0F11;
@define-color foreground #D8DCD4;
@define-color color0  #393A3C;
@define-color color1  #657268;
@define-color color2  #6A7369;
@define-color color3  #847874;
@define-color color4  #838160;
@define-color color5  #7B7F73;
@define-color color6  #7A8273;
@define-color color7  #BFC5BA;
@define-color color8  #868A82;
@define-color color9  #738478;
@define-color color10 #738072;
@define-color color11 #8C7A74;
@define-color color12 #89864F;
@define-color color13 #929785;
@define-color color14 #909B85;
@define-color color15 #BFC5BA;
